<h1>Photostream</h1>
<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<% if @images.any? %>
  <% @images.each do |image| %>
  <div class="box col3">
      <%= link_to (image_tag image.picture.url(:display)), image_path(image) %>
    </div>
    <% end %>
<% end %>
</div>
