<h1>Photostream</h1>
<div class="container">
<% if @images.any? %>
  <% @images.each do |image| %>
    <div class="col-md-6">
      <%= image_tag image.picture.url(:display), class: "picture-tile" %>
    </div>
    <% end %>
<% end %>
</div>
