<h2><%= @album.name %></h2>
<% if current_user == @album.user %>
<%= link_to "Delete", album_path(@album), :data => {:confirm => "Are you sure?",
                                          method: :delete} %>
<%= render 'images/form' %>
<% end %>


<% @images.each do |image| %>
  <li><%= link_to (image_tag image.picture.url(:thumb)), image_path(image) %></li>
<% end %>
